/*Preloading animation*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
div.loading img {
    animation: rotate 2s infinite linear;
}

div.loading.hidden {
    opacity: 0;
    pointer-events: none;
}

div.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #42455a;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.3s;
}
* {
   
    padding: 0;
    font-family: sans-serif;
    
}
body {
    background-color: #42455a;
}
.container {
    width: 100%;
    height: 100%;
    background: #42455a;
}
/*Nav Styling*/
.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo {
    width: 40px;
    margin-top: -7px;
    margin-right: 48px;
    float: right;
}

.active {
    color: #19bafa !important;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left,#5FDDF5,#5000BB);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;

}
/*Body CTA styling*/
.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 100px;
    position: absolute;
    color: white;

}

.app-text {
    width: 50%;
    float: left;
    margin-left: -20px;
}

.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 30px;
}

.app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 30px;
    line-height: 25px;
    color: #919191;
}

.app-picture {
    width: 59%;
    float: right;
    margin-right: -110px;
    margin-top: 0px;
}

.app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}

.play-btn {
    margin: left 40px;
    display: inline-flex;
    padding-left: 30px;

}

.play-btn-inner {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left,#5FDDF5,#5000BB);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}

.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
/*Bottom sub nav*/
.quick-links{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #5FDDF5,#5000BB );
}

.quick-links ul {
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}

.quick-links ul li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.quick-links ul li .fa {
    font-size: 20px;
    color: #fff;

}

.quick-links ul li p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}

/*Social media icon*/
.social-icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li {
   list-style: none;
   margin-top: 15px;
   text-align: center;
}

.social-icons ul li a {
    color: #999;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}

